{% extends "layout/base.html" %} {% block title %}Access Denied! You are not authorized to view this page.{% endblock %} {% block app_content %}
<div class="container">
    <div class="row text-center">
        <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
            <div class="row">
                <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
                    <h1 class="m-0">403</h1>
                    <p>
                        Access Denied! You are not authorized to view this page.
                    </p>
                    <a href="/" class="btn-outline text-info">
                        <strong> Back to Home </strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}