<script src="{{ url_for('static', filename='assets/js/jquery-3.6.1.min.js') }}?version={{app_version}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}?version={{app_version}}" type="text/javascript"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="{{ url_for('static', filename='js/scripts.js') }}?version={{app_version}}" type="text/javascript">
</script>
<script src="{{ url_for('static', filename='assets/js/scripts1.js') }}?version={{app_version}}" ddtype="text/javascript">
</script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->